---
layout: default
---
<!-- post index --> 
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
  {% for post in paginator.posts %}
    <article class="feed">
      <div class="title">
        
          <h1>
              {% if post.edito == 1 %}
                {{ post.titre }}
              {% else %}
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.titre }}</a>
              {% endif %}
          </h1>
          

            {% if post.edito == 1 %}
              <h5>Auteur <strong>{{ post.auteur }}</strong> - {{ post.date | date: "%D" }}</h5>
              {% else %}
              <h5>Auteur <strong>{{ post.auteur }}</strong> - Catégorie <strong>{{ post.categories}}</strong> - {{ post.date | date: "%d/%m/%Y" }}</h5>
            {% endif %}
          
      </div>
      {% if post.img %}
      <div class="img_full">
        <img class="img-full" src="{{ site.baseurl }}/img/{{ post.img }}" alt="{{ post.titre }}" />
      </div>
      {% endif %}
      <div class="text">
       {% if post.complet == 1 %}
          {{ post.content }}
          {% if post.comment == 1 %}<a class="btn1 read" href="{{ post.url | prepend: site.baseurl }}#commentaires"> Commentaires </a>{% endif %}
       {% else %}
          {{ post.excerpt }}
          {% if post.comment == 1 %}<a class="btn1 read" href="{{ post.url | prepend: site.baseurl }}#commentaires"> Commentaires </a> {% endif %}<a class="btn1 read" href="{{ post.url | prepend: site.baseurl }}"> Lire la suite </a>
       {% endif %}
      <div class="separator"></div>
       {% if post.footeroff != 1 %}
          <div class="share">
            {% if post.partage == 1 %}
              <h3>Partager :</h3>
                <div class="sharebtn">
                  <a class="btn-share facebook" target="_blank" title="Cliquez pour partager sur Tweeter" href="https://www.facebook.com/sharer/sharer.php?u={{ post.url | prepend: site.baseurl | prepend: site.url }}" rel="nofollow"><i class="fa fa-facebook"></i> Facebook</a>

                  <a class="btn-share twitter" target="_blank" title="Cliquez pour partager sur Tweeter" href="http://twitter.com/home?status={{ post.titre }} {{ post.url | prepend: site.baseurl | prepend: site.url }} via @iooner" rel="nofollow"><i class="fa fa-twitter"></i> Twitter</a>

                  <a class="btn-share google" target="_blank" title="Cliquez pour partager sur Tweeter" href="https://plus.google.com/share?url={{ post.url | prepend: site.baseurl | prepend: site.url }}" rel="nofollow"><i class="fa fa-google-plus"></i> Google+</a>

                  <!--<a class="btn-share flattr" href="https://flattr.com/submit/auto?user_id=iooner&url=http%3A%2F%2Fiooner.me{{ post.url | prepend: site.baseurl }}" target="_blank"><i class="fa fa-money"></i> Flattr</a>-->
                </div>
              {% endif %}
             
              <!--<h3>Tags :</h3>
              <span>
                {% for tag in post.tags %}
                  <a href="/tag/{{ tag }}">{{ tag }},</a>
                {% endfor %}
              </span>-->
              <h3>Tags :</h3>
              <span>
                {% for tag in post.tags %}
                  {% if forloop.last %}
                    {{ tag }}
                  {% else %}
                    {{ tag }},
                  {% endif %}
                {% endfor %}
              </span>
          </div>
          {% endif %}
          
      </div>
   </article>
  {% endfor %}
  {% include pagination.html %}
  </div>
<!-- fin post index --> 
