---
layout: default
---
<!-- post index --> 
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
  {% for post in paginator.posts %}
    <article class="feed">
      <div class="title">
        
          <h1>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.titre }}</a>
          </h1>
          
          <h5>{{ post.auteur }}, {{ post.date | date: "%-d/%m/%Y - %k:%M" }}</h5>
      </div>
      {% if post.img %}
      <div class="img_full">
        <img class="img-full" src="{{ site.baseurl }}/img/{{ post.img }}" alt="{{ post.titre }}" />
      </div>
      {% endif %}
      <div class="text">
       {{ post.content }}
          <div class="share">
            {% if post.partage == 1 %}
              <h3>Partager :</h3>
                <div class="sharebtn">
                  <a class="btn-share facebook" target="_blank" title="Cliquez pour partager sur Tweeter" href="https://www.facebook.com/sharer/sharer.php?u={{ post.url | prepend: site.baseurl | prepend: site.siteurl }}" rel="nofollow"><i class="fa fa-facebook"></i> Facebook</a>

                  <a class="btn-share twitter" target="_blank" title="Cliquez pour partager sur Tweeter" href="http://twitter.com/home?status={{ post.titre }} {{ post.url | prepend: site.baseurl | prepend: site.siteurl }} via @iooner" rel="nofollow"><i class="fa fa-twitter"></i> Twitter</a>

                  <a class="btn-share google" target="_blank" title="Cliquez pour partager sur Tweeter" href="https://plus.google.com/share?url={{ post.url | prepend: site.baseurl | prepend: site.siteurl }}" rel="nofollow"><i class="fa fa-google-plus"></i> Google+</a>
                  <a class="btn-share flattr" href="https://flattr.com/submit/auto?\user_id=iooner&url={{ post.url | prepend: site.baseurl | prepend: site.siteurl }}&title={{ post.titre }} - iooner.me&\description={{ post.titre }}&language=French&\tags={% for tag in post.tags %}{{ tag }},{% endfor %}&hidden=0&category=text"><i class="fa fa-money"></i> Flattr</a>
                

                </div>
              {% endif %}
             
              <h3>Tags :</h3>
              <span>
                {% for tag in post.tags %}
                  <a href="/tag/{{ tag }}">{{ tag }},</a>
                {% endfor %}
              </span>
              

          </div>
          
      </div>
   </article>
  {% endfor %}
  {% include pagination.html %}
  </div>
<!-- fin post index --> 
