<!-- header.html --> 
    <!-- MENUS (RESPONSIVE + FIXED TOP + HEADER) --> 

    <div class="navbar menu_condensed" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="{{ site.baseurl }}"><img src="{{site.baseurl}}/img/logo.png" class="img-brand" alt="logo"/></a>
        </div>

        <!-- Menu Mobile / Tablette -->
        <div class="navbar-collapse collapse no-transition">
            <ul class="nav navbar-nav navbar-left">
                <li><input type="text" placeholder="Rechercher...">
                <hr /></li>

                {% include menu.html %}

                <li><input class="hidden-xs hidden-md" type="text" placeholder="Rechercher...">
                <hr /></li>
            </ul>

            <ul class="other_sites nav navbar-nav navbar-right">
                <li><a href="http://www.iooner.me/" class="blog">
                    <i class="fa fa-file-text"></i><span>Blog</span>
                </a></li>
                <li><a href="http://www.iooner.me/soon" class="live">
                    <i class="fa fa-play"></i><span>Live</span>
                </a></li>
                <li><a href="http://www.iooner.me/soon" class="labs">
                    <i class="fa fa-flask"></i><span>Lab</span>
                </a></li>
                <li><a href="http://www.iooner.me/soon" class="sharlii">
                    <i class="fa fa-expand"></i><span>Liens</span> 
                </a></li>
                <li><a href="http://www.iooner.me/soon" class="shop">
                    <i class="fa fa-shopping-cart"></i><span>Shop</span>
                </a></li>
                
            </ul> 
        </div>
      </div>
    </div>
    <!-- Menu Scroll-->
    <div class="navbar menu_scroll navbar-fixed-top hidden-xs hidden-sm" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="{{site.baseurl}}/img/logo.png" class="img-brand" alt="logo"/></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                
                {% include menu.html %}

                <li><input type="text" placeholder="Rechercher...">
                <input type="submit" value=""></li>
            </ul>
            <ul class="other_sites nav navbar-nav navbar-right">

                <li><a href="http://www.iooner.me/soon" class="live">
                    <i class="fa fa-play"></i> 
                </a></li>
                <li><a href="http://www.iooner.me/soon" class="labs">
                    <i class="fa fa-flask"></i>
                </a></li>
                <li><a href="http://www.iooner.me/soon" class="sharlii">
                    <i class="fa fa-expand"></i> 
                </a></li>
                <li><a href="http://www.iooner.me/soon" class="shop">
                    <i class="fa fa-shopping-cart"></i> 
                </a></li>


            </ul> 
        </div>
      </div>
    </div>
    <!-- Menu Classic -->
    <header class="hidden-xs hidden-sm">
        <div class="upper">
            <div class="container">
                <ul class="col-lg-4 col-md-4 networks">
                    <li><a href="https://www.facebook.com/ioonerbe" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a></li>
                    <li><a href="https://twitter.com/iooner" class="twitter">
                        <i class="fa fa-twitter"></i>
                    </a></li>
                    <li><a href="https://www.linkedin.com/in/keyeux" class="linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a></li>
                    <li><a href="http://instagram.com/iooner" class="instagram">
                        <i class="fa fa-instagram"></i>
                    </a></li>
                </ul>

                <ul class="col-lg-8 col-md-8 nav_sites">
                    <li><a href="http://www.iooner.me" class="blog">
                        <i class="fa fa-file-text"></i> Blog
                    </a></li>
                    <li><a href="http://www.iooner.me/soon" class="live">
                        <i class="fa fa-play"></i> Live
                    </a></li>
                    <li><a href="http://www.iooner.me/soon" class="labs">
                        <i class="fa fa-flask"></i> Lab
                    </a></li>
                    <li><a href="http://www.iooner.me/soon" class="sharlii">
                        <i class="fa fa-expand"></i> Liens
                    </a></li>
                    <li><a href="http://www.iooner.me/soon" class="shop">
                        <i class="fa fa-shopping-cart"></i> Shop
                    </a></li>

                </ul>
            </div>
        </div>
        <div class="lower">
            <div class="container">
                <div class="col-lg-4 col-md-4 logo">
                    <img src="{{site.baseurl}}/img/logo.png" class="img-responsive" alt="logo"/>
                </div>
                <ul class="col-lg-8 col-md-8 nav_blog">
 
                    {% include menu.html %}

                    <li><input type="text" placeholder="Rechercher...">
                    <input type="submit" value=""></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- FIN MENUS (RESPONSIVE + FIXED TOP + HEADER) --> 
<!-- fin header.html -->  