<!-- head.html --> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- CSS call -->
    <link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">


    <!-- JS call -->
    <script src="{{ "/js/jquery-2.1.3.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>


    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@iooner">
    <meta name="twitter:creator" content="@iooner">
    {% if page.titre %}
    <meta name="twitter:title" content="{{ page.titre }}">
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.desc %}
    <meta name="twitter:description" content="{{ page.desc }}">
    {% else %}
    <meta name="twitter:description" content="Blog d'iooner Belge, développeur web. #maker, #hacker, #geek, #urbex.">
    {% endif %}
    {% if page.img %}
    <meta name="twitter:image:src" content="{{ site.url }}/img/{{ page.img }}">
    {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/img/avatar.png">
    {% endif %}



    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" href="{{ "/img/favicon.png" | prepend: site.baseurl }}" type="image/png">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    
  </head>
<!-- fin head.html --> 