    <!-- MENUS (RESPONSIVE + FIXED TOP + HEADER) --> 

    <div class="navbar menu_condensed" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="#"><img src="img/logo.png" class="img-brand" alt="logo"/></a>
        </div>

        <div class="navbar-collapse collapse no-transition">
            <ul class="nav navbar-nav navbar-left">
                <input type="text" placeholder="Rechercher..."></input>
                <hr />

                <li class="active"><a href="">Accueil</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Top <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Hacks & DIY</a></li>
                    <li><a href="#">Tutoriels</a></li>
                    <li><a href="#">Impression 3D</a></li>
                    <li><a href="#">Météorologie</a></li>
                    <li><a href="#">Découvertes</a></li>
                    <li><a href="#">Urbex</a></li>
                    <li><a href="#">Drône</a></li>
                  </ul>
                </li>
                <li><a href="">#bref</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    À propos <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Matériel</a></li>
                    <li><a href="#">Wishlist</a></li>
                  </ul>
                </li>
                <li><a href="">Liens</a></li>
                <li><a href="">Chat</a></li>
                <li><a href="">Contact</a></li>
                <input class="hidden-xs hidden-md" type="text" placeholder="Rechercher..."></input>
                <hr />
            </ul>

            <ul class="other_sites nav navbar-nav navbar-right">
                <li><a href="" class="blog">
                    <i class="fa fa-file-text"></i><span>Blog</span>
                </a></li>
                <li><a href="" class="live">
                    <i class="fa fa-play"></i><span>Live</span>
                </a></li>
                <li><a href="" class="labs">
                    <i class="fa fa-flask"></i><span>Labs</span>
                </a></li>
                <li><a href="" class="sharlii">
                    <i class="fa fa-expand"></i><span>Sharlii</span> 
                </a></li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle plus" data-toggle="dropdown">
                   <i class="fa fa-plus"></i><span>Plus</span> 
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="fa fa-shopping-cart"></i> Shop</a></li>
                  </ul>
                </li>
            </ul> 
        </div>
      </div>
    </div>

    <div class="navbar menu_scroll navbar-fixed-top hidden-xs hidden-sm" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="img/logo.png" class="img-brand" alt="logo"/></a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="">Accueil</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Top <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Hacks & DIY</a></li>
                    <li><a href="#">Tutoriels</a></li>
                    <li><a href="#">Impression 3D</a></li>
                    <li><a href="#">Météorologie</a></li>
                    <li><a href="#">Découvertes</a></li>
                    <li><a href="#">Urbex</a></li>
                    <li><a href="#">Drône</a></li>
                  </ul>
                </li>
                <li><a href="">#bref</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    À propos <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Matériel</a></li>
                    <li><a href="#">Wishlist</a></li>
                  </ul>
                </li>
                <li><a href="">Liens</a></li>
                <li><a href="">Chat</a></li>
                <li><a href="">Contact</a></li>
                <input type="text" placeholder="Rechercher..."></input>
                <input type="submit" value=""></input>
            </ul>
            <ul class="other_sites nav navbar-nav navbar-right">
                <li><a href="" class="blog">
                    <i class="fa fa-file-text"></i> 
                </a></li>
                <li><a href="" class="live">
                    <i class="fa fa-play"></i> 
                </a></li>
                <li><a href="" class="labs">
                    <i class="fa fa-flask"></i>
                </a></li>
                <li><a href="" class="sharlii">
                    <i class="fa fa-expand"></i> 
                </a></li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle plus" data-toggle="dropdown">
                    <i class="fa fa-plus"></i>
                    </span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="fa fa-shopping-cart"></i> Shop</a></li>
                  </ul>
                </li>
            </ul> 
        </div>
      </div>
    </div>

    <header class="hidden-xs hidden-sm">
        <div class="upper">
            <div class="container">
                <ul class="col-lg-4 col-md-4 networks">
                    <li><a href="" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a></li>
                    <li><a href="" class="twitter">
                        <i class="fa fa-twitter"></i>
                    </a></li>
                    <li><a href="" class="linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a></li>
                    <li><a href="" class="instagram">
                        <i class="fa fa-instagram"></i>
                    </a></li>
                </ul>

                <ul class="col-lg-8 col-md-8 nav_sites">
                    <li><a href="" class="blog">
                        <i class="fa fa-file-text"></i> Blog
                    </a></li>
                    <li><a href="" class="live">
                        <i class="fa fa-play"></i> Live
                    </a></li>
                    <li><a href="" class="labs">
                        <i class="fa fa-flask"></i> Lab's
                    </a></li>
                    <li><a href="" class="sharlii">
                        <i class="fa fa-expand"></i> Sharlii
                    </a></li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle plus" data-toggle="dropdown">
                        Plus <i class="fa fa-chevron-down"></i>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-shopping-cart"></i> Shop</a></li>
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lower">
            <div class="container">
                <div class="col-lg-4 col-md-4 logo">
                    <img src="img/logo.png" class="img-responsive" alt="logo"/>
                </div>
                <ul class="col-lg-8 col-md-8 nav_blog">
                    <li><a href="">Accueil</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Top <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Hacks & DIY</a></li>
                        <li><a href="#">Tutoriels</a></li>
                        <li><a href="#">Impression 3D</a></li>
                        <li><a href="#">Météorologie</a></li>
                        <li><a href="#">Découvertes</a></li>
                        <li><a href="#">Urbex</a></li>
                        <li><a href="#">Drône</a></li>
                      </ul>
                    </li>
                    <li><a href="">#bref</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        À propos <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">À propos</a></li>
                        <li><a href="#">Matériel</a></li>
                        <li><a href="#">Wishlist</a></li>
                      </ul>
                    </li>
                    <li><a href="">Liens</a></li>
                    <li><a href="">Chat</a></li>
                    <li><a href="">Contact</a></li>
                    <input type="text" placeholder="Rechercher..."></input>
                    <input type="submit" value=""></input>
                </ul>
            </div>
        </div>
    </header>

    <!-- FIN MENUS (RESPONSIVE + FIXED TOP + HEADER) --> 