<!-- head.html --> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- CSS call -->
    <link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">


    <!-- JS call -->
    <script src="{{ "/js/jquery-2.1.3.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

    <!-- flavicon -->
    <link rel="shortcut icon" href="{{site.baseurl}}/img/flavicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{site.baseurl}}/img/flavicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/img/flavicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/img/flavicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/img/flavicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/img/flavicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/img/flavicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/img/flavicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/img/flavicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/img/flavicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/img/flavicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{site.baseurl}}/img/flavicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/img/flavicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/img/flavicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/img/flavicon/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/img/flavicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{site.baseurl}}/img/flavicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@iooner">
    <meta name="twitter:creator" content="@iooner">
    {% if page.titre %}
    <meta name="twitter:title" content="{{ page.titre }}">
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.desc %}
    <meta name="twitter:description" content="{{ page.desc }}">
    {% else %}
    <meta name="twitter:description" content="Blog d'iooner Belge, développeur web. #maker, #hacker, #geek, #urbex.">
    {% endif %}
    {% if page.img %}
    <meta name="twitter:image:src" content="{{ site.url }}/img/{{ page.img }}">
    {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/img/avatar.png">
    {% endif %}



    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" href="{{ "/img/favicon.png" | prepend: site.baseurl }}" type="image/png">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    
  </head>
<!-- fin head.html --> 