                <li class="active"><a href="">Accueil</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Top <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Hacks & DIY</a></li>
                    <li><a href="#">Tutoriels</a></li>
                    <li><a href="#">Impression 3D</a></li>
                    <li><a href="#">Météorologie</a></li>
                    <li><a href="#">Découvertes</a></li>
                    <li><a href="#">Urbex</a></li>
                    <li><a href="#">Drône</a></li>
                  </ul>
                </li>
                <li><a href="">#bref</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    À propos <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Matériel</a></li>
                    <li><a href="#">Wishlist</a></li>
                  </ul>
                </li>
                <li><a href="">Liens</a></li>
                <li><a href="">Chat</a></li>
                <li><a href="">Contact</a></li>