                <li><a href="{{ site.baseurl }}/">Accueil</a></li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ site.baseurl }}/categories">Catégories</a></li>
                    <li><a href="{{ site.baseurl }}/changelog">ChangeLog</a></li>
                  </ul>
                </li> 

                <li><a href="{{ site.baseurl }}/social">Socialize me</a></li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">A Propos<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ site.baseurl }}/apropos">A Propos</a></li>
                    <li><a target="_blank" href="http://old.iooner.me/">Ancien Blog</a></li>
                    <li><a href="{{ site.baseurl }}/stuff">Stuff</a></li>
                    <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
                  </ul>
                </li>              

                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                    <li><a href="{{ site.baseurl }}/irc">IRC</a></li>
                  </ul>
                </li>