    <div id="blog" class="contenu container">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <article class="text-center pt-0">
                <img src="img/avatar.png" class="avatar img-responsive" alt="avatar"/>
                <h1>Loïc Aka Iooner</h1>
                <hr />
                <p>L'on dit de moi que je suis un "geek" ou un barbu presque bien rasé. Adepte de la bidouille et du détournement en tous genres (sauf de fonds)</p>
                <a href="">Lire plus...</a>
            </article>

            <article class="hidden-xs hidden-sm">
                <h1 class="text-center">Archives</h1>
                <hr />
                <ul class="nav">
                    <li><a href=""><i class="fa fa-chevron-right"></i> Septembre 2014</a></li>
                    <li><a href=""><i class="fa fa-chevron-right"></i> Août 2014</a></li>
                    <li><a href=""><i class="fa fa-chevron-right"></i> Juillet 2014</a></li>
                    <li><a href=""><i class="fa fa-chevron-right"></i> Juin 2014</a></li>
                    <li><a href=""><i class="fa fa-chevron-right"></i> Mai 2014</a></li>
                </ul>
            </article>
        </div>