<!-- side.html --> 

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <article class="text-center pt-0 hidden-xs hidden-sm">
                <img src="{{site.baseurl}}/img/avatar.png" class="avatar img-responsive" alt="avatar"/>
                <h1>Loïc Aka iooner</h1>
                <hr />
                <p>Belge, 22 ans, développeur web<br>#maker, #hacker, #geek, #urbex.</p>
                <a href="{{site.baseurl}}/apropos">Lire plus...</a>
            </article>

           <article class="text-center pt-0 hidden-md hidden-lg">
                <h1>Loïc Aka iooner</h1>
                <hr />
                <p>Belge, 22 ans, développeur web<br>#maker, #hacker, #geek, #urbex.</p>
                <a href="{{site.baseurl}}/apropos">Lire plus...</a>
            </article>



            <article class="hidden-xs hidden-sm">
                <h1 class="text-center">Les copains</h1>
                <hr />
                <ul class="nav">
                    <li><a target="_blank" href="http://www.manuel-esteban.com/"><i class="fa fa-external-link-square"></i> Yaug's Corner</a></li>
                    <li><a target="_blank" href="http://vincpad.me/"><i class="fa fa-external-link-square"></i> Vincpad</a></li>
                    <li><a target="_blank" href="http://studiotwan.com/"><i class="fa fa-external-link-square"></i> StudioTwan</a></li>
                    <li><a target="_blank" href="http://www.lokoise.com/"><i class="fa fa-external-link-square"></i> Lokoise</a></li>
                    <li><a target="_blank" href="http://www.magdiblog.fr/"><i class="fa fa-external-link-square"></i> Magdiblog</a></li>
                    <li><a target="_blank" href="http://ioe.kubeek.com/"><i class="fa fa-external-link-square"></i> Michoo42</a></li>
                    <li><a target="_blank" href="http://kernelpanik.fr/"><i class="fa fa-external-link-square"></i> KernelPanik</a></li>
                </ul>
            </article>        

            <article class="hidden-xs hidden-sm">
                <h1 class="text-center">Twitter</h1>
                <hr />
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/iooner" data-widget-id="554577477855870976">Tweets de @iooner</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </article> 



            <article class="hidden-xs hidden-sm">
                <h1 class="text-center">Je soutiens</h1>
                <hr />
                <ul class="nav">
                    <li><a target="_blank" href="http://www.theairboard.cc/"><i class="fa fa-external-link-square"></i> TheAirBoard</a></li>
                    <li><a target="_blank" href="http://sparklinlabs.com/"><i class="fa fa-external-link-square"></i> SuperPowers <em>Sparklinlabs</em></a></li>

                </ul>
            </article>

            <!--
            <article class="hidden-xs hidden-sm">
                <h1 class="text-center">Archives</h1>
                <hr />
                <ul class="nav">
                    <li><a href=""><i class="fa fa-chevron-right"></i> Septembre 2014</a></li>
                    <li><a href=""><i class="fa fa-chevron-right"></i> Août 2014</a></li>
                    <li><a href=""><i class="fa fa-chevron-right"></i> Juillet 2014</a></li>
                    <li><a href=""><i class="fa fa-chevron-right"></i> Juin 2014</a></li>
                    <li><a href=""><i class="fa fa-chevron-right"></i> Mai 2014</a></li>
                </ul>
            </article>
            -->
        </div>

<!-- fin side.html --> 