---
layout: default
---


<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <article class="feed">
      <div class="title">
        
          <h1>
              {{ page.titre }}
          </h1>
          
          <h5>Auteur <strong>{{ page.auteur }}</strong> - Catégorie <strong>{{ page.categories}}</strong> - {{ page.date | date: "%d/%m/%Y" }}</h5>
      </div>
      {% if page.img %}
      <div class="img_full">
        <img class="img-full" src="{{ site.baseurl }}/img/{{ page.img }}" alt="{{ page.titre }}" />
      </div>
      {% endif %}
      <div class="text">
       {{ content }}

       {% if page.footeroff != 1 %}
          <div class="share">
            
              {% if page.partage == 1 %}
              <h3>Partager :</h3>
                <div class="sharebtn">
                  <a class="btn-share facebook" target="_blank" title="Cliquez pour partager sur Tweeter" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow"><i class="fa fa-facebook"></i> Facebook</a>
                  <a class="btn-share twitter" target="_blank" title="Cliquez pour partager sur Tweeter" href="http://twitter.com/home?status={{ page.titre }} {{ site.url }}{{ page.url }} via @iooner" rel="nofollow"><i class="fa fa-twitter"></i> Twitter</a>
                  <a class="btn-share google" target="_blank" title="Cliquez pour partager sur Tweeter" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow"><i class="fa fa-google-plus"></i> Google+</a>
                  <a class="btn-share flattr" href="https://flattr.com/submit/auto?user_id=iooner&url={{ site.url }}{{ page.url }}" target="_blank"><i class="fa fa-money"></i> Flattr</a>
                </div>
              {% endif %}
              
              <!--<h3>Tags :</h3>
              <span>
                {% for tag in page.tags %}
                  <a href="/tag/{{ tag }}">{{ tag }},</a>
                {% endfor %}
              </span>-->
              <h3>Tags :</h3>
              <span>
                {% for tag in page.tags %}
                  {% if forloop.last %}
                    {{ tag }}
                  {% else %}
                    {{ tag }},
                  {% endif %}
                {% endfor %}
              </span>

          </div>
          {% endif %}

    {% if page.comment == 1 %}
   <h2 id="commentaires">Commentaires</h2>
   <p>N'hésitez pas à laisser un commentaire, de préférence respectueux et/ou constructif.</p>
   <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'iooner'; 
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
    
      
      </div>
   </article>
  </div>


